.chart_bar {
   width: 180px;
   height: 25px;
   padding: none;
   background-color: antiquewhite;
   border: 3px solid black;
   border-radius: 10px;
   overflow: hidden;
}

.chart_bar__fill {
    width: 0%;
    height: 25px;
    padding: 0;
    margin: 0;
    background-color: #5CDB95;
    border: none;
    animation: Load 1s linear  1;
    transition: all 0.3s ease-out;
}

@keyframes Load {
    0% {width: 0;}
    100% {  width: [progress];}
}