.contain {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: 6%;
}

.poster {
  width: 45%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.poster h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 50px;
  color: black;
}

.contact_section {
  width: 55%;
  height: fit-content;
  background-color: black;
  text-align: start;
}

.contact_dialogue {
  font-size: 20px;
  width: 80%;
  margin: auto;
  margin-block: 50px;
  color: white;
  animation: Slide 0.5s linear 1;
}

@keyframes Slide {
  0% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
